@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div .button {
  margin: 0 15px 15px 0;
}

.button {
  display: inline-block;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  color: #444;

  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 8px;
  text-decoration: none;
}

.button:hover {
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);

  border: 1px solid #c6c6c6;
  color: #333;

  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

/* blue */

.button.blue {
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);

  border: 1px solid #3079ed;
  color: white;
}

.button.blue:hover {
  border: 1px solid #2f5bb7;

  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
  background-image: linear-gradient(top, #4d90fe, #357ae8);

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* red */

.button.red {
  background-color: #d14836;
  background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
  background-image: -ms-linear-gradient(top, #dd4b39, #d14836);
  background-image: -o-linear-gradient(top, #dd4b39, #d14836);
  background-image: linear-gradient(top, #dd4b39, #d14836);

  border: 1px solid transparent;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.button.red:hover {
  background-color: #c53727;
  background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
  background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
  background-image: -ms-linear-gradient(top, #dd4b39, #c53727);
  background-image: -o-linear-gradient(top, #dd4b39, #c53727);
  background-image: linear-gradient(top, #dd4b39, #c53727);
}

/* green */

.button.green {
  background-color: #3d9400;
  background-image: -webkit-linear-gradient(top, #3d9400, #398a00);
  background-image: -moz-linear-gradient(top, #3d9400, #398a00);
  background-image: -ms-linear-gradient(top, #3d9400, #398a00);
  background-image: -o-linear-gradient(top, #3d9400, #398a00);
  background-image: linear-gradient(top, #3d9400, #398a00);

  border: 1px solid #29691d;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.button.green:hover {
  background-color: #368200;
  background-image: -webkit-linear-gradient(top, #3d9400, #368200);
  background-image: -moz-linear-gradient(top, #3d9400, #368200);
  background-image: -ms-linear-gradient(top, #3d9400, #368200);
  background-image: -o-linear-gradient(top, #3d9400, #368200);
  background-image: linear-gradient(top, #3d9400, #368200);

  border: 1px solid #2d6200;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

/* brownish */

.button.brownish {
  background-color: #3d9400;
  background-image: -webkit-linear-gradient(top, #674850, #50393f);
  background-image: -moz-linear-gradient(top, #674850, #50393f);
  background-image: -ms-linear-gradient(top, #674850, #50393f);
  background-image: -o-linear-gradient(top, #674850, #50393f);
  background-image: linear-gradient(top, #674850, #50393f);

  border: 1px solid #463237;
  color: white;
}

.button.brownish:hover {
  background-color: #368200;
  background-image: -webkit-linear-gradient(top, #674850, #463237);
  background-image: -moz-linear-gradient(top, #674850, #463237);
  background-image: -ms-linear-gradient(top, #674850, #463237);
  background-image: -o-linear-gradient(top, #674850, #463237);
  background-image: linear-gradient(top, #674850, #463237);

  border: 1px solid #412e33;
}

/* maroonish */

.button.maroonish {
  background-color: #a55474;
  background-image: -webkit-linear-gradient(top, #a55474, #8e4964);
  background-image: -moz-linear-gradient(top, #a55474, #8e4964);
  background-image: -ms-linear-gradient(top, #a55474, #8e4964);
  background-image: -o-linear-gradient(top, #a55474, #8e4964);
  background-image: linear-gradient(top, #a55474, #8e4964);

  border: 1px solid #83445d;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.button.maroonish:hover {
  background-color: #a55474;
  background-image: -webkit-linear-gradient(top, #a55474, #83445d);
  background-image: -moz-linear-gradient(top, #a55474, #83445d);
  background-image: -ms-linear-gradient(top, #a55474, #83445d);
  background-image: -o-linear-gradient(top, #a55474, #83445d);
  background-image: linear-gradient(top, #a55474, #83445d);

  border: 1px solid #793e55;
}

/* pinkish */

.button.pinkish {
  background-color: #7c7461;
  background-image: -webkit-linear-gradient(top, #dfa7ca, #cd97b9);
  background-image: -moz-linear-gradient(top, #dfa7ca, #cd97b9);
  background-image: -ms-linear-gradient(top, #dfa7ca, #cd97b9);
  background-image: -o-linear-gradient(top, #dfa7ca, #cd97b9);
  background-image: linear-gradient(top, #dfa7ca, #cd97b9);

  border: 1px solid #c38fb0;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.button.pinkish:hover {
  background-color: #7c7461;
  background-image: -webkit-linear-gradient(top, #dfa7ca, #c38fb0);
  background-image: -moz-linear-gradient(top, #dfa7ca, #c38fb0);
  background-image: -ms-linear-gradient(top, #dfa7ca, #c38fb0);
  background-image: -o-linear-gradient(top, #dfa7ca, #c38fb0);
  background-image: linear-gradient(top, #dfa7ca, #c38fb0);

  border: 1px solid #ba88a7;
}

/* golden */

.button.golden {
  background-color: #dee362;
  background-image: -webkit-linear-gradient(top, #c1b758, #aea54e);
  background-image: -moz-linear-gradient(top, #c1b758, #aea54e);
  background-image: -ms-linear-gradient(top, #c1b758, #aea54e);
  background-image: -o-linear-gradient(top, #c1b758, #aea54e);
  background-image: linear-gradient(top, #c1b758, #aea54e);
  color: white;
  border: 1px solid #a29948;
}

.button.golden:hover {
  background-color: #c0c455;
  background-image: -webkit-linear-gradient(top, #c1b758, #a29948);
  background-image: -moz-linear-gradient(top, #c1b758, #a29948);
  background-image: -ms-linear-gradient(top, #c1b758, #a29948);
  background-image: -o-linear-gradient(top, #c1b758, #a29948);
  background-image: linear-gradient(top, #c1b758, #a29948);

  border: 1px solid #989043;
}

/* goldenish */

.button.goldenish {
  background-color: #3d9400;
  background-image: -webkit-linear-gradient(top, #777726, #62621e);
  background-image: -moz-linear-gradient(top, #777726, #62621e);
  background-image: -ms-linear-gradient(top, #777726, #62621e);
  background-image: -o-linear-gradient(top, #777726, #62621e);
  background-image: linear-gradient(top, #777726, #62621e);

  border: 1px solid #2b6700;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.button.goldenish:hover {
  background-color: #368200;
  background-image: -webkit-linear-gradient(top, #777726, #525219);
  background-image: -moz-linear-gradient(top, #777726, #525219);
  background-image: -ms-linear-gradient(top, #777726, #525219);
  background-image: -o-linear-gradient(top, #777726, #525219);
  background-image: linear-gradient(top, #777726, #525219);

  border: 1px solid #245600;
}

/* skinish */

.button.skinish {
  background-color: #3d9400;
  background-image: -webkit-linear-gradient(top, #eab447, #cfa03f);
  background-image: -moz-linear-gradient(top, #eab447, #cfa03f);
  background-image: -ms-linear-gradient(top, #eab447, #cfa03f);
  background-image: -o-linear-gradient(top, #eab447, #cfa03f);
  background-image: linear-gradient(top, #eab447, #cfa03f);

  border: 1px solid #b68d37;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.button.skinish:hover {
  background-color: #368200;
  background-image: -webkit-linear-gradient(top, #eab447, #c0943a);
  background-image: -moz-linear-gradient(top, #eab447, #c0943a);
  background-image: -ms-linear-gradient(top, #eab447, #c0943a);
  background-image: -o-linear-gradient(top, #eab447, #c0943a);
  background-image: linear-gradient(top, #eab447, #c0943a);

  border: 1px solid #a17c31;
}

/* graysish */

.button.grayish {
  background-color: #3d9400;
  background-image: -webkit-linear-gradient(top, #7c7461, #615b4c);
  background-image: -moz-linear-gradient(top, #7c7461, #615b4c);
  background-image: -ms-linear-gradient(top, #7c7461, #615b4c);
  background-image: -o-linear-gradient(top, #7c7461, #615b4c);
  background-image: linear-gradient(top, #7c7461, #615b4c);

  border: 1px solid #504b3e;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.button.grayish:hover {
  background-color: #368200;
  background-image: -webkit-linear-gradient(top, #7c7461, #504b3e);
  background-image: -moz-linear-gradient(top, #7c7461, #504b3e);
  background-image: -ms-linear-gradient(top, #7c7461, #504b3e);
  background-image: -o-linear-gradient(top, #7c7461, #504b3e);
  background-image: linear-gradient(top, #7c7461, #504b3e);

  border: 1px solid #474337;
}

/* yellowish */

.button.yellowish {
  background-color: #3d9400;
  background-image: -webkit-linear-gradient(top, #dee362, #c0c455);
  background-image: -moz-linear-gradient(top, #dee362, #c0c455);
  background-image: -ms-linear-gradient(top, #dee362, #c0c455);
  background-image: -o-linear-gradient(top, #dee362, #c0c455);
  background-image: linear-gradient(top, #dee362, #c0c455);

  border: 1px solid #b3b74e;
}

.button.yellowish:hover {
  background-color: #368200;
  background-image: -webkit-linear-gradient(top, #dee362, #b3b74e);
  background-image: -moz-linear-gradient(top, #dee362, #b3b74e);
  background-image: -ms-linear-gradient(top, #dee362, #b3b74e);
  background-image: -o-linear-gradient(top, #dee362, #b3b74e);
  background-image: linear-gradient(top, #dee362, #b3b74e);

  border: 1px solid #abaf4b;
}

/* Pink */
.button.pink {
  background-color: #ed47e6;
  background-image: -webkit-linear-gradient(top, #fe4dee, #ed47e6);
  background-image: -moz-linear-gradient(top, #fe4dee, #ed47e6);
  background-image: -ms-linear-gradient(top, #fe4dee, #ed47e6);
  background-image: -o-linear-gradient(top, #fe4dee, #ed47e6);
  background-image: linear-gradient(top, #fe4dee, #ed47e6);

  border: 1px solid #ed30e6;
  color: white;
}

.button.pink:hover {
  background-color: #e835de;
  background-image: -webkit-linear-gradient(top, #fe4df6, #e835de);
  background-image: -moz-linear-gradient(top, #fe4df6, #e835de);
  background-image: -ms-linear-gradient(top, #fe4df6, #e835de);
  background-image: -o-linear-gradient(top, #fe4df6, #e835de);
  background-image: linear-gradient(top, #fe4df6, #e835de);

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Violet */

.button.violet {
  background-color: #ac47ed;
  background-image: -webkit-linear-gradient(top, #ba4dfe, #ac47ed);
  background-image: -moz-linear-gradient(top, #ba4dfe, #ac47ed);
  background-image: -ms-linear-gradient(top, #ba4dfe, #ac47ed);
  background-image: -o-linear-gradient(top, #ba4dfe, #ac47ed);
  background-image: linear-gradient(top, #ba4dfe, #ac47ed);

  border: 1px solid #a030ed;
  color: white;
}

.button.violet:hover {
  background-color: #a435e8;
  background-image: -webkit-linear-gradient(top, #c14dfe, #a435e8);
  background-image: -moz-linear-gradient(top, #c14dfe, #a435e8);
  background-image: -ms-linear-gradient(top, #c14dfe, #a435e8);
  background-image: -o-linear-gradient(top, #c14dfe, #a435e8);
  background-image: linear-gradient(top, #c14dfe, #a435e8);

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Orange */

.button.orange {
  background-color: #fe7d4d;
  background-image: -webkit-linear-gradient(top, #fe7d4d, #ed7247);
  background-image: -moz-linear-gradient(top, #fe7d4d, #ed7247);
  background-image: -ms-linear-gradient(top, #fe7d4d, #ed7247);
  background-image: -o-linear-gradient(top, #fe7d4d, #ed7247);
  background-image: linear-gradient(top, #fe7d4d, #ed7247);

  border: 1px solid #ed5f30;
  color: white;
}

.button.orange:hover {
  border: 1px solid #b7492f;

  background-color: #e85a35;
  background-image: -webkit-linear-gradient(top, #fe754d, #e85a35);
  background-image: -moz-linear-gradient(top, #fe754d, #e85a35);
  background-image: -ms-linear-gradient(top, #fe754d, #e85a35);
  background-image: -o-linear-gradient(top, #fe754d, #e85a35);
  background-image: linear-gradient(top, #fe754d, #e85a35);

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Sea Green */
.button.seagreen {
  background-color: #4dfedf;
  background-image: -webkit-linear-gradient(top, #4dfedf, #47edd3);
  background-image: -moz-linear-gradient(top, #4dfedf, #47edd3);
  background-image: -ms-linear-gradient(top, #4dfedf, #47edd3);
  background-image: -o-linear-gradient(top, #4dfedf, #47edd3);
  background-image: linear-gradient(top, #4dfedf, #47edd3);

  border: 1px solid #30edd0;
}

.button.seagreen:hover {
  border: 1px solid #2fb7a2;

  background-color: #35e8d0;
  background-image: -webkit-linear-gradient(top, #4dfee5, #35e8d0);
  background-image: -moz-linear-gradient(top, #4dfee5, #35e8d0);
  background-image: -ms-linear-gradient(top, #4dfee5, #35e8d0);
  background-image: -o-linear-gradient(top, #4dfee5, #35e8d0);
  background-image: linear-gradient(top, #4dfee5, #35e8d0);

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* defaults */

.button.default:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  color: black;
}
.button.blue:active,
.button.red:active,
.button.green:active,
.button.pinkish:active,
.button.maroonish:active,
.button.golden:active,
.button.brownish:active,
.button.grayish:active,
.button.skinish:active,
.button.yellowish:active,
.button.goldenish:active,
.button.pink:active,
.button.violet:active,
.button.orange:active,
.button.seagreen:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
}
